.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart{
  display: flex;
  padding: 2rem;
}

.pieChart{
  border-radius: 150px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  28px 28px 56px #bebebe,
  -28px -28px 56px #ffffff;
}

.bar{
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow:  28px 28px 56px #bebebe,
  -28px -28px 56px #ffffff;
}

.edit-tooltip{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  top: 0;
}

.edit-tooltip input{
  text-decoration: none;
  width: 5rem;
  background-color: white;
  border: none;
}

.eachEdit{
  display: flex;
}
